Backup_2025-08-16/31_Linkedin_all_post_type.json
{
  "createdAt": "2025-07-20T13:33:45.163Z",
  "updatedAt": "2025-08-06T04:38:33.000Z",
  "id": "XM256mcmft23vPSb",
  "name": "31_Linkedin_all_post_type",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2caebe7c-a2d3-428e-b129-fcfbe66854e5",
              "name": "post_type",
              "value": "video",
              "type": "string"
            },
            {
              "id": "c4578992-d24a-4666-b369-ae9f8c91aaec",
              "name": "node_type",
              "value": "linkedin",
              "type": "string"
            },
            {
              "id": "a17a5c94-d9ae-44f8-9d56-fb55d17efe5a",
              "name": "image_url",
              "value": "https://media.licdn.com/dms/image/v2/D4D03AQHf-K7ergkUwQ/profile-displayphoto-shrink_800_800/B4DZbdtDouHQAg-/0/1747476298728?e=1753920000&v=beta&t=Js1KDjpDYOgzYW4YlhwT1_ZmbggoSIxjcq3IA0rRJs0",
              "type": "string"
            },
            {
              "id": "32aa1561-458c-4f64-a854-eab65f9ad1dd",
              "name": "video_url",
              "value": "https://videos.pexels.com/video-files/4434242/4434242-sd_360_640_24fps.mp4",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -336,
        32
      ],
      "id": "0abe8bb1-e800-4cf2-a824-a136fa45ee08",
      "name": "Configure Post Settings"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Configure Post Settings').item.json.post_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ab388a77-1660-4a64-ba58-bc405444dbd5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "be8816f5-ae68-48c3-869e-bc67078298d8",
                    "leftValue": "={{ $('Configure Post Settings').item.json.post_type }}",
                    "rightValue": "article",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Article"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "abb2fd36-d2c5-479d-bb6e-e201a6d20d05",
                    "leftValue": "={{ $('Configure Post Settings').item.json.post_type }}",
                    "rightValue": "article_image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Article Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "663bacc8-ceeb-4f81-b058-c379eaf6e717",
                    "leftValue": "={{ $('Configure Post Settings').item.json.post_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "99441a51-906e-469a-b98e-64aa43c996ba",
                    "leftValue": "={{ $('Configure Post Settings').item.json.post_type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        160,
        -48
      ],
      "id": "73d7de3d-ab3f-4aaf-8c3c-1313f9727574",
      "name": "Smart Content Router"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"author\": \"urn:li:person:{{ $json.sub }}\",\n    \"lifecycleState\": \"PUBLISHED\",\n    \"specificContent\": {\n        \"com.linkedin.ugc.ShareContent\": {\n            \"shareCommentary\": {\n                \"text\": \"This is my automate API Post\"\n            },\n            \"shareMediaCategory\": \"NONE\"   \n        }\n    },\n    \"visibility\": {\n        \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1264,
        -656
      ],
      "id": "552826ed-3b9c-49ca-a0ba-29ba00f18253",
      "name": "Text Post",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XY6pQwz6WFvJdONu",
          "name": "Linkedin Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"author\": \"urn:li:person:{{ $json.sub }}\",\n    \"lifecycleState\": \"PUBLISHED\",\n    \"specificContent\": {\n        \"com.linkedin.ugc.ShareContent\": {\n            \"shareCommentary\": {\n                \"text\": \"Learning more about LinkedIn by reading the LinkedIn Blog!\"\n            },\n            \"shareMediaCategory\": \"ARTICLE\",\n            \"media\": [\n                {\n                    \"status\": \"READY\",\n                    \"description\": {\n                        \"text\": \"Now you can Automate All Instagram Post\"\n                    },\n                    \"originalUrl\": \"https://youtu.be/t63IlcH1GJY?si=V94VitNWyNNvk7WR\",\n                    \"title\": {\n                        \"text\": \"Automate All Instagram Post\"\n                    }\n                }\n            ]\n        }\n    },\n    \"visibility\": {\n        \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        -320
      ],
      "id": "bc341da3-341a-453f-8be6-3c51c78b77dc",
      "name": "Article Post",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XY6pQwz6WFvJdONu",
          "name": "Linkedin Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"author\": \"urn:li:person:{{ $json.sub }}\",\n    \"lifecycleState\": \"PUBLISHED\",\n    \"specificContent\": {\n        \"com.linkedin.ugc.ShareContent\": {\n            \"shareCommentary\": {\n                \"text\": \"Let's Automate All Instagram Post Type\"\n            },\n            \"shareMediaCategory\": \"ARTICLE\",\n            \"media\": [\n                {\n                    \"status\": \"READY\",\n                    \"description\": {\n                        \"text\": \"Now you can Automate All Instagram Post\"\n                    },\n                    \"originalUrl\": \"https://youtu.be/t63IlcH1GJY?si=V94VitNWyNNvk7WR\",\n                    \"title\": {\n                        \"text\": \"Automate All Instagram Post\"\n                    },\n                    \"thumbnails\": [{\n                        \"url\": \"https://i.ytimg.com/vi/t63IlcH1GJY/hq720.jpg\"\n                    }]\n                }\n            ]\n        }\n    },\n    \"visibility\": {\n        \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        112
      ],
      "id": "bf541709-422b-471f-9c59-aabf8c6faae3",
      "name": "Article with Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XY6pQwz6WFvJdONu",
          "name": "Linkedin Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/assets?action=registerUpload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"registerUploadRequest\": {\n        \"recipes\": [\n            \"urn:li:digitalmediaRecipe:feedshare-image\"\n        ],\n        \"owner\": \"urn:li:person:{{ $json.sub }}\",\n        \"serviceRelationships\": [\n            {\n                \"relationshipType\": \"OWNER\",\n                \"identifier\": \"urn:li:userGeneratedContent\"\n            }\n        ]\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        352
      ],
      "id": "d93c879d-256b-4565-b159-f438bc693001",
      "name": "Register Image Upload",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XY6pQwz6WFvJdONu",
          "name": "Linkedin Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/assets?action=registerUpload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"registerUploadRequest\": {\n        \"recipes\": [\n            \"urn:li:digitalmediaRecipe:feedshare-video\"\n        ],\n        \"owner\": \"urn:li:person:{{ $json.sub }}\",\n        \"serviceRelationships\": [\n            {\n                \"relationshipType\": \"OWNER\",\n                \"identifier\": \"urn:li:userGeneratedContent\"\n            }\n        ]\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        960,
        768
      ],
      "id": "135908a0-9b83-4d38-bf18-af3614a9529a",
      "name": "Register Video Upload",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XY6pQwz6WFvJdONu",
          "name": "Linkedin Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.value.uploadMechanism['com.linkedin.digitalmedia.uploading.MediaUploadHttpRequest'].uploadUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        352
      ],
      "id": "38be6c46-f4e5-48ac-9268-f467d3bd34b5",
      "name": "Upload Image File",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XY6pQwz6WFvJdONu",
          "name": "Linkedin Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"author\": \"urn:li:person:{{ $('Get UserID5').item.json.sub }}\",\n    \"lifecycleState\": \"PUBLISHED\",\n    \"specificContent\": {\n        \"com.linkedin.ugc.ShareContent\": {\n            \"shareCommentary\": {\n                \"text\": \"Now this is how we automate the image posting\"\n            },\n            \"shareMediaCategory\": \"IMAGE\",\n            \"media\": [\n                {\n                    \"status\": \"READY\",\n                    \"description\": {\n                        \"text\": \"Center stage!\"\n                    },\n                    \"media\": \"{{ $('Register Image Upload').item.json.value.asset }}\",\n                    \"title\": {\n                        \"text\": \"I don't know where this text come\"\n                    }\n                }\n            ]\n        }\n    },\n    \"visibility\": {\n        \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        352
      ],
      "id": "a37d459f-c51f-4204-af25-efa29aeed0d0",
      "name": "Linkedin Image Post",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XY6pQwz6WFvJdONu",
          "name": "Linkedin Access Token"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Configure Post Settings').item.json.video_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        768
      ],
      "id": "917afbde-a59e-4127-9f34-28b3a2dc8b36",
      "name": "Download Video"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.value.uploadMechanism['com.linkedin.digitalmedia.uploading.MediaUploadHttpRequest'].uploadUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        768
      ],
      "id": "b8ba4251-f58c-4bab-b2b9-e7a42116e5ce",
      "name": "Upload Video File",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XY6pQwz6WFvJdONu",
          "name": "Linkedin Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"author\": \"urn:li:person:{{ $('Get UserID6').item.json.sub }}\",\n    \"lifecycleState\": \"PUBLISHED\",\n    \"specificContent\": {\n        \"com.linkedin.ugc.ShareContent\": {\n            \"shareCommentary\": {\n                \"text\": \"Now this is how we automate the Video posting\"\n            },\n            \"shareMediaCategory\": \"VIDEO\",\n            \"media\": [\n                {\n                    \"status\": \"READY\",\n                    \"description\": {\n                        \"text\": \"Center stage!\"\n                    },\n                    \"media\": \"{{ $('Register Video Upload').item.json.value.asset }}\",\n                    \"title\": {\n                        \"text\": \"I don't know where this text come\"\n                    }\n                }\n            ]\n        }\n    },\n    \"visibility\": {\n        \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n    }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1632,
        768
      ],
      "id": "7af5c8bc-9e79-4658-ada8-d9e8219b2873",
      "name": "Linkedin Video Post",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XY6pQwz6WFvJdONu",
          "name": "Linkedin Access Token"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🚀 LinkedIn Multi-Format Post Automation\n**Automate ALL LinkedIn post types with one workflow!**\n\n✅ **Supported Post Types:**\n- 📝 Text-only posts\n- 📰 Article sharing  \n- 🖼️ Article with custom thumbnail\n- 📸 Single image posts\n- 🎥 Video posts\n\n🎯 **Perfect for:** Content creators, marketers, social media managers\n⚡ **One-click posting** to LinkedIn with professional formatting",
        "height": 320,
        "width": 560,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -336,
        432
      ],
      "id": "5acb248d-4dd7-47c2-a469-6fe88f9db2c2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## ⚙️ Post Configuration Center\n**Customize your content here before posting**\n\n📋 **Required Settings:**\n- `post_type` → Choose: text, article, article_image, image, video\n- `image_url` → Direct link to image file  \n- `video_url` → Direct link to video file\n\n🔧 **Quick Setup:** Just modify the \"Configure Post Settings\" node values",
        "height": 620,
        "width": 640,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -736,
        -304
      ],
      "id": "aa0322cb-b312-46e7-84bb-2d8f661eea68",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 🧠 Intelligent Content Router\n**Automatically detects post type and routes to correct processing**\n",
        "height": 620,
        "width": 360,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        48,
        -304
      ],
      "id": "17331bfb-1ff8-4ce1-8c29-dffdfa2c9817",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 📸 Image Posting",
        "height": 360,
        "width": 1240
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        288
      ],
      "id": "f47fb4b3-0fb9-4ff0-ac94-62cc81d16af8",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## 🎬 Video Posting",
        "height": 300,
        "width": 1240
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        688
      ],
      "id": "87252019-29f7-4365-bca8-d055e2b4fc2e",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "url": "={{ $('Configure Post Settings').item.json.image_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1248,
        352
      ],
      "id": "6e476dd9-ec02-40c2-b69a-7641735cea84",
      "name": "Download Image"
    },
    {
      "parameters": {
        "content": "## 📸 Article with Thumbnail Posting",
        "height": 220,
        "width": 1000
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        48
      ],
      "id": "1e3d5e64-56ca-4b6c-9c2d-9da54a641b63",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## 📸 Article Posting",
        "height": 340,
        "width": 1000
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        -336
      ],
      "id": "296fdd24-2a99-42e1-a74e-78eed3e92202",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## 📸 Text Posting",
        "height": 320,
        "width": 1000
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        608,
        -688
      ],
      "id": "deee71f3-f15c-4886-bc97-e2117bac0840",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "person": "QyGjon0PYg",
        "text": "Automated post",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1168,
        -496
      ],
      "id": "76ce31ad-302b-4af0-bf82-5fab282e47d1",
      "name": "Text Post Linkedin",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "FEWWEKeYGJip3nLT",
          "name": "LinkedIn n8n test"
        }
      }
    },
    {
      "parameters": {
        "person": "QyGjon0PYg",
        "text": "Automated post",
        "shareMediaCategory": "ARTICLE",
        "additionalFields": {
          "description": "Now you can Automate All Instagram Post",
          "originalUrl": "https://youtu.be/t63IlcH1GJY?si=V94VitNWyNNvk7WR",
          "title": "Automate All Instagram Post"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1184,
        -160
      ],
      "id": "6cf97b1b-e93f-419e-ab00-2e565a79a463",
      "name": "Text Post Linkedin1",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "FEWWEKeYGJip3nLT",
          "name": "LinkedIn n8n test"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "465dee68-878c-46de-8dd8-ba29e8bb93d3",
              "leftValue": "={{ $('Configure Post Settings').item.json.node_type }}",
              "rightValue": "http",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        -576
      ],
      "id": "4cb96dcf-610f-4cfc-9793-b14b62fa230a",
      "name": "Text If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "465dee68-878c-46de-8dd8-ba29e8bb93d3",
              "leftValue": "={{ $('Configure Post Settings').item.json.node_type }}",
              "rightValue": "http",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        -256
      ],
      "id": "9e84333a-0f97-4928-99d7-ff22112bfd7a",
      "name": "Article if"
    },
    {
      "parameters": {
        "person": "QyGjon0PYg",
        "text": "Automated post",
        "shareMediaCategory": "IMAGE",
        "additionalFields": {
          "title": "Automate All Instagram Post"
        }
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1248,
        512
      ],
      "id": "fe1a48f6-eb9a-4b3b-83ef-ae3d55271068",
      "name": "Image Post Linkedin",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "FEWWEKeYGJip3nLT",
          "name": "LinkedIn n8n test"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Configure Post Settings').item.json.image_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        512
      ],
      "id": "ab249768-e1dc-4273-99ff-0ee602e8ebff",
      "name": "Download Imagee"
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        -656
      ],
      "id": "2ea5c734-8498-4535-84c6-e1456122650b",
      "name": "Get UserID2",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XY6pQwz6WFvJdONu",
          "name": "Linkedin Access Token"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        -320
      ],
      "id": "5bacf2ab-36e9-4d1d-ba28-42e50648c9c5",
      "name": "Get UserID3",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XY6pQwz6WFvJdONu",
          "name": "Linkedin Access Token"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        112
      ],
      "id": "9e902b23-c09e-4664-8f7e-ea9cb7371be3",
      "name": "Get UserID4",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XY6pQwz6WFvJdONu",
          "name": "Linkedin Access Token"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        352
      ],
      "id": "98f16750-1edf-4898-bd6a-55bd3be7494a",
      "name": "Get UserID5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XY6pQwz6WFvJdONu",
          "name": "Linkedin Access Token"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        768
      ],
      "id": "871ee6f3-7968-4612-a13b-89774817287a",
      "name": "Get UserID6",
      "credentials": {
        "httpHeaderAuth": {
          "id": "XY6pQwz6WFvJdONu",
          "name": "Linkedin Access Token"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        0
      ],
      "id": "c8aaa3e6-b2f6-4312-9676-0b4fce2f6a77",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "465dee68-878c-46de-8dd8-ba29e8bb93d3",
              "leftValue": "={{ $('Configure Post Settings').item.json.node_type }}",
              "rightValue": "http",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        400
      ],
      "id": "e43dd5dc-8ee0-4ff7-90f6-05feae0d4785",
      "name": "Image if"
    }
  ],
  "connections": {
    "Configure Post Settings": {
      "main": [
        [
          {
            "node": "Smart Content Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Content Router": {
      "main": [
        [
          {
            "node": "Text If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Article if",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get UserID4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Image if",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get UserID6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Image Upload": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image File": {
      "main": [
        [
          {
            "node": "Linkedin Image Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Video Upload": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Upload Video File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video File": {
      "main": [
        [
          {
            "node": "Linkedin Video Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Upload Image File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text If": {
      "main": [
        [
          {
            "node": "Get UserID2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Post Linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Article if": {
      "main": [
        [
          {
            "node": "Get UserID3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Post Linkedin1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Imagee": {
      "main": [
        [
          {
            "node": "Image Post Linkedin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get UserID2": {
      "main": [
        [
          {
            "node": "Text Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get UserID3": {
      "main": [
        [
          {
            "node": "Article Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get UserID4": {
      "main": [
        [
          {
            "node": "Article with Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get UserID5": {
      "main": [
        [
          {
            "node": "Register Image Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get UserID6": {
      "main": [
        [
          {
            "node": "Register Video Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Configure Post Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image if": {
      "main": [
        [
          {
            "node": "Get UserID5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Imagee",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a55a5a4a-ee83-4984-8f98-b0738085ed4f",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-07-20T13:33:47.869Z",
      "updatedAt": "2025-07-20T13:33:47.869Z",
      "id": "L1ttDatV4HxNps28",
      "name": "youtube"
    }
  ]
}