Backup_2025-08-16/34 AI Agent Update.json
{
  "createdAt": "2025-08-02T18:26:52.835Z",
  "updatedAt": "2025-08-08T18:35:53.000Z",
  "id": "2ZBIreE7n0mdZu4B",
  "name": "34 AI Agent Update",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        320,
        32
      ],
      "id": "2a857125-7164-4591-8cca-743f5cdc2ea5",
      "name": "When chat message received",
      "webhookId": "4ebf6ba8-7c45-42cc-8f5b-9ea78406a5a5"
    },
    {
      "parameters": {
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -880,
        32
      ],
      "id": "4d5cfc77-9fb6-4edf-8970-798f6915cde9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -752,
        288
      ],
      "id": "b99379d9-3abc-4312-87cf-a2c1910b3ada",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "TLy9RuRkIKncoUiy",
          "name": "OpenRouter Freelance account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -944,
        304
      ],
      "id": "1f821448-726f-43a9-8f1a-3747e0d55380",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "4I1YETvg4Cwcgpgl",
          "name": "OpenAI Fake"
        }
      }
    },
    {
      "parameters": {
        "content": "# Fallback AI Agent\n",
        "height": 80,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -960,
        -192
      ],
      "id": "a3a6905d-9ab1-4e35-832f-0c9b146e47db",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are Lakshit Overall Main Agent\n\nYou have two tools:\nCalculator: Use this tool when something is asked related to calculating\nCalendar Agent: Call this agent when something is asked regarding Meeting, event, calendar"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -160,
        16
      ],
      "id": "97c4e6b7-d34d-445b-b291-91effe3d43af",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -432,
        288
      ],
      "id": "2e4fcf0c-962b-4474-b080-e2e2a97215f0",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "L3P9Ae81haTD2rYm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        16,
        512
      ],
      "id": "1a4f3887-ea62-4ae5-8f8f-3cfdf966617b",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "L3P9Ae81haTD2rYm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "You are Lakshit AI Agent specialize in managing his calendar",
        "text": "=You are Lakshit AI Agent specialize in managing his calendar\n\nYou have one tool \ncreate_event: Use this tool when you need to create an event\n\nNote:\n- If no end time is mention, consider 30mins meeting\n- If title is not mention then add any generic title name\n- Don't ask any question back, just create with what information you have\n\nCurrent time and date is {{ $now }}\nI live in India Timezone",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        96,
        288
      ],
      "id": "65e49561-fab6-4aa4-8006-419c68d67665",
      "name": "Calendar Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -128,
        368
      ],
      "id": "90d0fa23-0b53-4463-961b-a76cf7bd6f8a",
      "name": "Calculator"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -240,
        288
      ],
      "id": "de4ec1f1-f227-405b-993f-13293e470196",
      "name": "Simple Memory"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        112,
        496
      ],
      "id": "f18771a7-f344-4e5a-a4bf-c416a284a799",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "lakshitukani77@gmail.com",
          "mode": "list",
          "cachedResultName": "Lakshit Ukani"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        240,
        512
      ],
      "id": "5f5d7d30-88ad-47ed-a61c-113a0d960e16",
      "name": "create_event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "d6M4PVTouNnERS2M",
          "name": "Lakshit Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "# AI Agent as tool\n",
        "height": 80,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        -160
      ],
      "id": "4666ff3a-5fbc-4de6-a664-9d111404b278",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        768,
        64
      ],
      "id": "b86e3832-1640-44f8-8bea-1b24eb5250ed",
      "name": "AI Agent2"
    },
    {
      "parameters": {
        "rules": {
          "rule": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9fd1623c-54da-4f30-90da-017eb63d2e78",
                    "leftValue": "={{ $('Edit Fields').item.json.model_number }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "modelIndex": 2,
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "63494f1b-80bd-4478-bc20-ee0504058001",
                    "leftValue": "={{ $('Edit Fields').item.json.model_number }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.modelSelector",
      "typeVersion": 1,
      "position": [
        688,
        304
      ],
      "id": "7b876101-81d3-4210-8149-131eee8cee45",
      "name": "Model Selector"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a6c4ade4-639c-4f42-bbf1-17cbe072d429",
              "name": "model_number",
              "value": "2",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        64
      ],
      "id": "42a40ce0-6ec6-4d08-a9cd-6f3945c67d75",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        576,
        512
      ],
      "id": "7298c926-ac03-4da1-b85d-a2eba61e5b85",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "L3P9Ae81haTD2rYm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        752,
        464
      ],
      "id": "4a5872ec-64d4-4012-be87-ed1073f7a57a",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "TLy9RuRkIKncoUiy",
          "name": "OpenRouter Freelance account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Model Selector\n",
        "height": 80,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        624,
        -128
      ],
      "id": "e6b225fa-7c92-4206-a07e-29d3acad33cf",
      "name": "Sticky Note2"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "create_event": {
      "ai_tool": [
        [
          {
            "node": "Calendar Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Model Selector": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Model Selector",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9e4bcb95-a99a-4a18-87df-b35bc27b6db9",
  "triggerCount": 1,
  "tags": []
}