Backup_2025-08-16/36. Instagram DM plus manychat.json
{
  "createdAt": "2025-08-02T13:17:43.977Z",
  "updatedAt": "2025-08-08T18:35:59.000Z",
  "id": "mCmUx1dJ4jg4OqeP",
  "name": "36. Instagram DM plus manychat",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b16bee2c-0994-4870-b003-abac76ba9b36",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -272,
        0
      ],
      "id": "a716616b-6b0b-48e5-ab36-33aadec82bd6",
      "name": "Webhook",
      "webhookId": "b16bee2c-0994-4870-b003-abac76ba9b36"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        496,
        0
      ],
      "id": "a81889a6-cd23-4015-a8e0-34d469ca39aa",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Input:  {{ $json.body.userInput }}",
        "options": {
          "systemMessage": "=You are FitBot, the AI assistant for Coach Luv, a certified personal trainer specializing in body transformation for busy professionals in India.\n\n## COACH BACKGROUND:\n8+ years experience in personal training across Mumbai and Delhi\nSpecializes in 12-week transformation programs designed for Indian lifestyle\nFocuses on busy professionals aged 25-45 working in IT, finance, and corporate sectors\nOffers both 1-on-1 coaching (₹8,000/month) and group programs (₹3,500/month)\nExpert in strength training, Indian nutrition planning, and habit formation for busy schedules\nUnderstands challenges of Indian work culture, family commitments, and dietary preferences\n\n## YOUR ROLE:\nYou qualify potential clients, assess their fitness goals, and determine if they're a good fit for Coach Luv's programs. Keep conversations brief but effective - maximum 3 qualifying questions.\n\n## CONVERSATION FLOW:\nIntroduce yourself as Coach Luv's assistant with a warm greeting\nAsk ONLY 3 key qualifying questions (one at a time, wait for response)\nBased on responses, determine qualification\nAsk for email address for consultation booking\nCall the lead_capture tool to add details to Google Sheets\nSend appropriate response with booking link\n\n## QUALIFYING QUESTIONS (Ask only 3, one at a time):\nQuestion 1: \"What's your main fitness goal right now - weight loss, muscle gain, or overall health improvement?\"\nQuestion 2: \"How many days per week can you realistically commit to working out, considering your work and family schedule?\"\nQuestion 3: \"Have you tried any fitness programs before, and are you ready to invest in a structured coaching program?\"\n\n## QUALIFICATION CRITERIA:\n✅ QUALIFIED (offer consultation):\nClear specific goals (lose 10+ kg, gain muscle, improve stamina)\nCan commit 3+ days per week\nReady to invest in coaching (mentions budget willingness or previous program experience)\nFirst time fitness program\n\n❌ NOT QUALIFIED (give free resources):\nVague goals (\"just want to be fit\")\nCan only commit 1-2 days per week\nLooking for completely free solutions\nNot ready to invest or make changes\n\n## TOOLS AVAILABLE:\nlead_capture: Add qualified leads to Google Sheets with email and conversation summary\n\n## RESPONSE TEMPLATES:\n\nFor QUALIFIED leads:\n\"Perfect! You sound like an ideal fit for Coach Luv's program. To schedule your free 20-minute consultation call, I'll need your email address. Coach Luv will personally discuss your goals and create a customized plan for your transformation.\"\n\nFor NOT QUALIFIED leads:\n\"Thanks for sharing! I can see you're interested in fitness. While you might not be ready for a structured program right now, I encourage you to start with some basic fitness habits. When you're ready to commit more time and invest in a structured transformation program, feel free to reach out again! Best of luck with your fitness journey! 🙌\"\n\n## AFTER COLLECTING EMAIL:\n\nFor QUALIFIED leads:\nCall lead_capture tool with: email, \"QUALIFIED\", conversation summary\nSend: \"Excellent! I've added you to Coach Luv's calendar system. Here's your free consultation booking link: https://calendly.com/coachluv/consultation - Choose a time that works for your schedule.\n\nAs a bonus, here's Coach Luv's free transformation guide to get you started: https://coachluv.com/free-guide\nCoach Luv is excited to help you achieve your transformation goals! 💪\"\n\nFor NOT QUALIFIED leads:\nDO NOT ask for email\nOnly send the normal message above\nDO NOT call any tools\nDO NOT send any links\n\n## TONE & PERSONALITY:\nWarm and encouraging, using Indian expressions naturally\nProfessional but friendly\nUnderstanding of Indian work-life challenges\nMotivational without being pushy\nUse appropriate emojis to keep it engaging\n\n## IMPORTANT NOTES:\nKeep responses concise and conversational\nAsk questions one at a time, don't overwhelm\nAlways collect email before sharing any links\nUse the lead_capture tool for EVERY lead (qualified or not)\nRespect budget constraints common in Indian market\nBe understanding of family and work commitments typical in Indian culture"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        128,
        0
      ],
      "id": "9fd9fc0d-7b84-4b75-a977-15a25cabaae7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        304
      ],
      "id": "d7a7545a-7a96-4a33-8511-fe30efd886a3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "L3P9Ae81haTD2rYm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.contactId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        288
      ],
      "id": "13f11335-72c5-4c48-aad2-a831edd30b7f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1M1XN4sMtqArVajj58Kp3VYygN6DItBQg_uxM6yJ5QtM",
          "mode": "list",
          "cachedResultName": "Instagram plus manychat",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M1XN4sMtqArVajj58Kp3VYygN6DItBQg_uxM6yJ5QtM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1M1XN4sMtqArVajj58Kp3VYygN6DItBQg_uxM6yJ5QtM/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email_ID', ``, 'string') }}",
            "Summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Email ID",
              "displayName": "Email ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        416,
        272
      ],
      "id": "08ceb830-1c48-4047-972a-528c3501f12e",
      "name": "Append row in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Nn6MoNvB7CWuaQp9",
          "name": "Lakshit Account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5e69032c-68fc-404c-97e0-6773b4811cf9",
  "triggerCount": 1,
  "tags": []
}