Backup_2025-08-16/Finance Manager.json
{
  "createdAt": "2025-08-03T15:25:55.779Z",
  "updatedAt": "2025-08-12T13:47:20.000Z",
  "id": "liLdiuvITsRm7IPZ",
  "name": "Finance Manager",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom",
              "cronExpression": "1 * * * * *"
            }
          ]
        },
        "filters": {
          "sender": "credit_cards@icicibank.com"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -336,
        -64
      ],
      "id": "a3df97ae-21fb-47e6-8595-f5ef169d5180",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "9nQEWKuEYxxtGaYe",
          "name": "Lakshit Gmail"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a data extraction assistant.\n\nYour task is to extract credit card spend information from the email content provided. The email may or may not be related to a credit card transaction. Follow the instructions below carefully.\n\n---\n\n### Tasks:\n\n1. **Detect if the email is a credit card spend notification.**\n\n2. If it **is**, extract the following fields:\n   - `date`: Date of transaction (format: `MM-DD-YYYY`)\n   - `amount`: Final amount in INR (either original INR or converted)\n   - `currency`: Original currency of the transaction (e.g., INR, USD, EUR)\n   - `card_last4`: Last 4 digits of the card used\n   - `card_label`: Label of the card based on card number (see mapping)\n   - `merchant`: Merchant or location of the spend\n   - `actual_rate`: Amount in original currency (set to `null` if currency is INR)\n   - `conversion_rate`: Exchange rate used to convert the currency to INR (set to `null` if currency is INR)\n   - `success`: `true` if data is found, `false` if not a credit card spend email\n\n3. If the **currency is not INR**, use the following tool:\n   - Tool name: `search_currency_rate`\n   - Purpose: Get current exchange rate from original currency to INR\n   - Input format:\n     ```json\n     {\n       \"from_currency\": \"<currency_code>\",\n       \"to_currency\": \"INR\"\n     }\n     ```\n\n4. If **no relevant spend info is found**, return all fields as `null` except `success: false`.\n\n---\n\n### Card Mapping:\n- If card ends with **1012**, set `card_label` to `\"CC - Lakshit ICICI MMT\"`\n- If card ends with **4007**, set `card_label` to `\"CC - Lakshit ICICI Coral\"`\n- Otherwise, use `\"Unknown Card\"`\n\n---\n\n### Output Format:\n```json\n{\n  \"date\": \"MM-DD-YYYY or null\",\n  \"amount\": number or null,\n  \"currency\": \"INR or original currency or null\",\n  \"card_last4\": \"xxxx or null\",\n  \"card_label\": \"CC - Lakshit ICICI MMT / CC - Lakshit ICICI Coral / Unknown Card / null\",\n  \"merchant\": \"Merchant Name or null\",\n  \"actual_rate\": number or null,\n  \"conversion_rate\": number or null,\n  \"success\": true or false\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -64,
        -64
      ],
      "id": "a667e72f-0a02-409f-949e-56ae1e1c5c4b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"date\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"Date of transaction in MM-DD-YYYY format\"\n    },\n    \"amount\": {\n      \"type\": [\"number\", \"null\"],\n      \"description\": \"Amount in INR. If foreign currency, this is the converted amount\"\n    },\n    \"currency\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"Original transaction currency\"\n    },\n    \"card_last4\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"Last 4 digits of the credit card\"\n    },\n    \"card_label\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"Credit card label based on last 4 digits\"\n    },\n    \"merchant\": {\n      \"type\": [\"string\", \"null\"],\n      \"description\": \"Merchant or vendor name\"\n    },\n    \"actual_rate\": {\n      \"type\": [\"number\", \"null\"],\n      \"description\": \"Actual transaction amount in original currency; null for INR\"\n    },\n    \"conversion_rate\": {\n      \"type\": [\"number\", \"null\"],\n      \"description\": \"Conversion rate used to calculate amount in INR; null for INR\"\n    },\n    \"success\": {\n      \"type\": \"boolean\",\n      \"description\": \"True if data is found, false if not a spend-related email\"\n    }\n  },\n  \"required\": [\"success\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        192,
        192
      ],
      "id": "53141535-81bf-44fb-815f-65813106cbd8",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -112,
        160
      ],
      "id": "65f6ebfd-c154-4f98-b0b5-0ec84d19c126",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "TLy9RuRkIKncoUiy",
          "name": "OpenRouter Freelance account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cbf38c59-1a26-459d-9bb8-2e07f33ef24c",
              "leftValue": "={{ $json.output.success }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        -64
      ],
      "id": "8649dcb5-7dd0-4729-919a-1d2073b77f0e",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "244b06aa-7d2e-80e8-8c6e-e17eba07807d",
          "mode": "list",
          "cachedResultName": "Credit Card Expense Tracker",
          "cachedResultUrl": "https://www.notion.so/244b06aa7d2e80e88c6ee17eba07807d"
        },
        "title": "={{ $json.output.merchant }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Amount|number",
              "numberValue": "={{ $json.output.amount }}"
            },
            {
              "key": "Credit Card Name|select",
              "selectValue": "={{ $json.output.card_label }}"
            },
            {
              "key": "Date|date",
              "date": "={{$now.minus({ hours: 5, minutes: 30 }).setZone('Asia/Kolkata').toFormat(\"LLL-dd-yyyy HH:mm\")}}",
              "timezone": "Asia/Kolkata"
            },
            {
              "key": "Name|title",
              "title": "={{ $json.output.merchant }}"
            },
            {
              "key": "Currency|rich_text",
              "textContent": "={{ $json.output.currency }}"
            },
            {
              "key": "Actual Rate|number",
              "numberValue": "={{ $json.output.actual_rate }}"
            },
            {
              "key": "Conversion Rate|number",
              "numberValue": "={{ $json.output.conversion_rate }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        560,
        -80
      ],
      "id": "ac36fac5-2867-41b2-93eb-2e65d57bd6fc",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "Akr0MBGdoTKKbHac",
          "name": "Lakshit Notion"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        16,
        176
      ],
      "id": "94710596-f0ed-4210-985f-4ff28995708d",
      "name": "search_currency_rate",
      "credentials": {
        "serpApi": {
          "id": "PscrgeEmfOeflX4u",
          "name": "Lakshit SerpAPI Account"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "search_currency_rate": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "Gmail Trigger": {
        "lastTimeChecked": 1755355311,
        "possibleDuplicates": [
          "198b354747a91b4e"
        ]
      }
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "1989e5c4cf2a2370",
          "threadId": "1989cab4fd068afb",
          "snippet": "Dear Customer, Your ICICI Bank Credit Card XX1012 has been used for a transaction of USD 20.00 on Aug 12, 2025 at 06:28:10. Info: OPENAI *CHATGPT SUBSCR. The Available Credit Limit on your card is INR",
          "payload": {
            "mimeType": "multipart/mixed"
          },
          "sizeEstimate": 13435,
          "historyId": "11704557",
          "internalDate": "1755003505000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_UPDATES",
              "name": "CATEGORY_UPDATES"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "credit_cards@icicibank.com",
          "To": "LAKSHITUKANI77@gmail.com",
          "Subject": "Transaction alert for your ICICI Bank Credit Card"
        }
      }
    ]
  },
  "versionId": "ac5cb853-c9ce-433a-a1cf-dd2cd85405a7",
  "triggerCount": 1,
  "tags": []
}